[submodule "broadcom-wl"]
	path = broadcom-wl
	url = https://github.com/supremegamers/broadcom-wl
	branch = android
[submodule "rtl8188fu"]
	path = rtl8188fu
	url = https://github.com/supremegamers/rtl8188fu
	branch = android
[submodule "rtl8188eu"]
	path = rtl8188eu
	url = https://github.com/supremegamers/rtl8188eu
	branch = android
[submodule "xpad"]
	path = xpad
	url = https://github.com/supremegamers/xpad
	branch = android
[submodule "openrazer"]
	path = openrazer
	url = https://github.com/supremegamers/openrazer
	branch = android
[submodule "rtl8812au"]
	path = rtl8812au
	url = https://github.com/supremegamers/rtl8812au
[submodule "rtl8723bu"]
	path = rtl8723bu
	url = https://github.com/supremegamers/rtl8723bu
[submodule "rtl8723du"]
	path = rtl8723du
	url = https://github.com/supremegamers/rtl8723du
[submodule "rtl8723bs"]
	path = rtl8723bs
	url = https://github.com/supremegamers/rockchip_wlan
[submodule "rtl8821cu"]
	path = rtl8821cu
	url = https://github.com/supremegamers/8821cu-20210118
[submodule "rtl8821au"]
	path = rtl8821au
	url = https://github.com/supremegamers/8821au-20210708
