[submodule "broadcom-wl"]
	path = broadcom-wl
	url = https://github.com/supremegamers/broadcom-wl
[submodule "rtl8188fu"]
	path = rtl8188fu
	url = https://github.com/supremegamers/rtl8188fu
[submodule "rtl8188eu"]
	path = rtl8188eu
	url = https://github.com/supremegamers/rtl8188eu
[submodule "xpad"]
	path = xpad
	url = https://github.com/supremegamers/xpad
